body {
    margin: 0;
    background: #d79e9e;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    height: 100px;
    margin: 50px auto;
    text-align: center;
}

.h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
}

.responsive {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    width:100%;
}

.projects {
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects:hover {
    transform: scale(0.95); /* Slightly enlarge on hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.projects img {
    width: 100%; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.desc {
    padding: 15px;
    font-size: 1em;
    color: #333;
    text-align: center;
}